.UserPage {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #161616;

    display: flex;
    justify-content: center;
    align-items: center;
}

.UserPage_Main {
    width: min-content;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 24px;
}

.UserPage_Main_BackContainer {
    width: min-content;
    align-self: flex-start;

    padding: 20px;
    border-radius: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;

    position: absolute;
    top: 20px;
    left: 20px;

    cursor: pointer;
}

.UserPage_Main_BackContainer p {
    color: #cd6600;

    font-size: 20px;

    white-space: nowrap;
}

.UserPage_Main > img {
    object-fit: cover;
    border-radius: 50%;

    margin-bottom: 20px;
}

.UserPage_Main > h1 {
    font-size: 28px;
    color: lightgray;

    white-space: nowrap;
}

.UserPage_Main > p {
    font-size: 16px;
    color: lightgray;

    min-width: 400px;

    display: -webkit-box;
    -webkit-line-clamp: 6;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.UserPage_Main_UsersCount {
    color: gray !important;
    text-align: center;
}

.UserPage_Main > button {
    padding: 16px;

    background-color: #cd6600;
    border-radius: 32px;

    border: none;
    outline: none;

    white-space: nowrap;

    font-size: 16px;
    color: white;

    cursor: pointer;
}
